<form action="/calculate">
    <div class="button-group">
        <div class="button" value="mean">mean</div>
        <div class="button" value="median">median</div>
        <div class="button" value="mode">mode</div>
    </div>
    <div class="spacer"></div>
    <div class="button-group">
        <div class="button" value="7">7</div>
        <div class="button" value="8">8</div>
        <div class="button" value="9">9</div>
    </div>
    <div class="button-group">
        <div class="button" value="4">4</div>
        <div class="button" value="5">5</div>
        <div class="button" value="6">6</div>
    </div>
    <div class="button-group">
        <div class="button" value="1">1</div>
        <div class="button" value="2">2</div>
        <div class="button" value="3">3</div>
    </div>
    <div class="button-group">
        <div class="button large-font" value=".">.</div>
        <div class="button" value="0">0</div>
        <div class="button large-font" value=",">,</div>
    </div>
    <div class="spacer"></div>
    <div class="button-group">
        <div class="button" value="submit">Submit</div>
    </div>
</form>