<form action="/calculate">
    <div class="button-group">
        <div class="button">mean</div>
        <div class="button">median</div>
        <div class="button">mode</div>
    </div>
    <div class="spacer"></div>
    <div class="button-group">
        <div class="button" value="7">7</div>
        <div class="button" value="8">8</div>
        <div class="button" value="9">9</div>
    </div>
    <div class="button-group">
        <div class="button" value="4">4</div>
        <div class="button" value="5">5</div>
        <div class="button" value="6">6</div>
    </div>
    <div class="button-group">
        <div class="button" value="1">1</div>
        <div class="button" value="2">2</div>
        <div class="button" value="3">3</div>
    </div>
    <div class="spacer"></div>
    <div class="button-group">
        <div class="button">Submit</div>
    </div>
</form>